h1 {color:rgb(129, 127, 255); text-align: center;
    background-color: green;
      } 
p.groove {border-style: groove;}
body {    font-family: Georgia;
    color: #404032}
    body {background-color: rgb(191, 217, 191);}
    div
    <i class="fas fa-car"></i>